# Python files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vs

# C files
*.o
*.dep
*.bin

# ISO files
*.cue
*.iso

# Third party stuff
tools/gcc-psyq-converted/include/*
tools/gcc-psyq-converted/lib/*
!/tools/gcc-psyq-converted/lib/.gitignore
!/tools/gcc-psyq-converted/include/.gitignore